* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  }

/*Color Schemes - to call: xxx: var (--color);*/
:root {
    --pink: #fbe3e8;
    --teal: #5cbdb9;
    --light-pink: #ebf6f5;
  }
/*header*/
.main-header {
    display: flex;
    flex-direction: column;
    background-color: var(--teal);

}
.header img{

}
/*navigation bar*/
.nav {
    display: flex;
    flex-direction:row;
    background-color: var(--pink);
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
}
.nav ul li{
    display: flex;
    float: left;
    justify-content: space-between;
}

/*about me*/
.aboutMe {
    display: flex;
    
}
.aboutMe h2 {
    flex-wrap: wrap;
}
/*look into box models*/
.work{
    display: flex;
}
.work h2 {
    flex-wrap: wrap;
}

.contactInfo {
    display: flex;
}

.contactInfo h2 {
    flex-wrap: wrap;
}