* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  }

/*Color Schemes - to call: xxx: var (--color);*/
:root {
    --pink: #fbe3e8;
    --teal: #5cbdb9;
    --light: #ebf6f5;
  }
/*header*/
.main-header {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    margin-top: 60px; /* Add a top margin to avoid content overlay */

}
.header img{

}
/*navigation bar*/
.nav {
    display: flex;
    flex-direction:row;
    background-color: var(--teal);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
}
.nav ul li {
    float: left;
}
.nav ul li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}
/*change color when nav option is hovered over*/
.nav ul li a:hover {
    background-color: var(--pink);
}
/* Add a color to the active/current link */
/*.nav ul li a.active {
    background-color: #04AA6D;
    color: white;
  }*/

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
/*about me*/
.aboutMe {
    display: flex;
    
}
.aboutMe h2 {
    flex-wrap: wrap;
}
/*look into box models*/
.work{
    display: flex;
}
.work h2 {
    flex-wrap: wrap;
}

.contactInfo {
    display: flex;
}

.contactInfo h2 {
    flex-wrap: wrap;
}